.button-like{
  background: url('../../images/like.svg') no-repeat center center;
  background-size: contain;
  width: 35px;
  height: 20px;
}
.button-like:hover{
  opacity: 0.6;
  cursor: pointer;
}
.button-like:active{
  cursor: pointer;
  background: url('../../images/like-fill.svg') no-repeat center center;
}
.button-like-active{
  cursor: pointer;
  background: url('../../images/like-fill.svg') no-repeat center center;
}