.button-edit{
  height: 18px;
  width: 18px;
  margin: 5px 0 0 0;
  background: url('../../images/edit.svg') no-repeat center center;
}

@media only screen and (min-width: 881px) {
  .button-edit{
    height: 24px;
    width: 24px;
    margin: 16px 15px 0;
  }
}