.button{
  background-color: #000;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 2px;
}
.button:hover{
  opacity: 0.6;
  cursor: pointer;
}
.button:active{
  opacity: 0.8;
  cursor: pointer;
  background-color: #aaa;
}