.main {
	flex-flow: nowrap;
	padding: 0 19px;
	gap: 20px 17px;
}

@media only screen and (min-width: 321px) and (max-width: 879px) {
	.main {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		justify-content: space-around;
	}
}
@media only screen and (min-width: 881px) {
	.main {
		display: flex;
		flex-wrap: wrap;
		padding: 0px;
		width: 880px;
	}
}
